.footer__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 112%;
  color: #FFFFFF;
}

.footer__link:first-of-type {
  grid-area: maps;
}

.footer__link:last-of-type {
  margin: 0;
  grid-area: travel;    
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 1280px) {
  .footer__link {
    font-size: 1.56vw;
  }
}

@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 2.08vw;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 7.5vw;
    line-height: 100%;
  }
}