.lead__title {
  margin: auto;
  padding-top: 3.5rem;
  max-width: 720px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;
    max-width: 288px;
  }
}