.place__paragraph {
  padding: 0;
  margin: 0;
  max-width: 484px;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  grid-area: paragraph;
} 

.place__paragraph:last-child {
  grid-area: paragraph_bottom;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
  
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
  }
  
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 16px 25px 16px;
  } 
  
  .place__paragraph:last-child {
    padding: 0 16px 0 16px;
  }
}