.lead__image {
  padding: 64px  0 0 0;
  margin: auto;
  width: 100%;
  justify-self: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    padding: 56px  0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    padding: 40px  2px 0 2px;
  }
}