.footer__navigation {
  grid-area: navigation;
  gap: 18px;
  display: grid;
  grid-template-areas: 
  "maps whether schedule calendar travel";
}

@media screen and (max-width: 767px) {
  .footer__navigation {
    grid-template-areas: 
    "maps"
    "whether"
    "schedule"
    "calendar" 
    "travel";
    gap: 32px;
  }
}