.photo-grid__items {
  padding: 7.77% 0 0 0;
  margin: auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  gap: 16px;
  }

  @media screen and (max-width: 1024px) {
    .photo-grid__items {
      gap: 14px;  
    }   
  }

  @media screen and (max-width: 768px) {
    .photo-grid__items {
      gap: 16px;  
    }   
  }

  @media screen and (max-width: 320px) {
    .photo-grid__items {
      gap: 12px;  
    }   
  }