.cover__title {
  padding: 0;
  margin: 0;
  max-width: 560px;
  color: #FFFFFF;   /*добавить другое значение цвета*/
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    font-size: 7.03vw;
  } 
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 9.37vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 10vw;
    line-height: 109%;
  }
}