.place {
  padding: 0;
  margin: 0;
  max-width: 984px;
  display: grid;
  row-gap: 26px;
  column-gap: 40px;
  grid-template-areas: 
  "title website"
  "image paragraph"
  "image paragraph_bottom";
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    row-gap: 25px;
  }
}

@media screen and (max-width: 680px) {
  .place {
    grid-template-areas: 
    "title"
    "website"
    "image"
    "paragraph"
    "paragraph_bottom";
    gap: 0;
  }
  
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-areas: 
    "title"
    "website"
    "image"
    "paragraph"
    "paragraph_bottom";
    gap: 0;
  }
}