.footer {
  margin: 92px 48px 24px 48px;
  padding: 0;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0;
    margin: 64px 0 24px 16px;
    gap: 48px;
    display: grid;
    grid-template-areas: 
    "navigation"
    "copyright";
  }